:root {
  --primary-color: #7ba05b;
  --secondary-color: #3f5e5a;
  --background-color: #353831;
  --text-color-w: #fff;
  --text-color-b: #000000;
  --btn-color: #7ba05b;
}

html {
  font-size: 16px;

  & h1 {
    font-size: 2rem;
  }
  & p {
    font-size: 1rem;
  }
}

/* CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* CSS Reset End */

.navbar {
  background-color: var(--background-color);

  & .nav-item a {
    color: var(--text-color-w);
  }
  & a:hover {
    color: var(--primary-color);
  }
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: #7ba05b;
}

.hero-image {
  height: 75vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/office-hero-modified.jpeg");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.hero-text-wrapper {
  padding-top: 110px;

  & h1 {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 6rem;
  }

  & p {
    color: var(--text-color-w);
    font-size: 2rem;
  }
}

#cards-wraper {
  padding-top: 50px;
}

.card-body {
  background-color: var(--secondary-color);

  & .h5-pretext {
    color: var(--primary-color);
  }

  & h5 {
    color: var(--text-color-w);
  }
}

.card-icons {
  padding: 15px 0px 15px 0px;

  & ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  & li {
    margin: 0;
    padding: 0;
  }

  & i {
    font-size: 2rem;
  }

  & a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: var(--primary-color);
      opacity: 0.7;
    }
  }
}
/* mobile  */
@media screen and (max-width: 786px) {
  .hero-image {
    height: 50vh;
  }

  .hero-text-wrapper {
    padding-top: 10px;

    & h1 {
      font-weight: 700;
      font-size: 3rem;
    }

    & p {
      font-size: 1rem;
    }
  }
  .card-icons i {
    font-size: 1.3rem;
  }
}

/* Tablet portrait */
@media (min-width: 787px) and (max-width: 1024px) {
  .hero-image {
    height: 50vh;
  }

  .hero-text-wrapper {
    padding-top: 20px;
    & h1 {
      font-weight: 700;
      font-size: 3rem;
    }

    & p {
      font-size: 1rem;
    }
  }
}
